// @ts-nocheck
'use client';

import { useTrigger } from 'workflow/react';
import { newUserWorkflow } from '@/lib/workflows';

export default function UserProfile() {
  const { status, result, trigger } = useTrigger(newUserWorkflow);
  // status: null | 'queued' | 'running' | 'completed' | 'failed'
  // result: null | ReturnType<typeof newUserWorkflow>
  // trigger: () => Promise<void>

  return (
    <div className="p-8">
      <h2>{status}</h2>
      <h2>{result}</h2>
      <Button onClick={() => trigger()}>New User</Button>
    </div>
  );
}
